.header__background {
  background-image: url("../../assets/header-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 80px 40px;
  box-sizing: border-box;
  background-color: #00000066;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 608px;
}

.header__title {
  margin: 0;
  color: #fff;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
}

.header__text {
  margin: 0;
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.header__input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 56px;
  border-radius: 100px;
  background-color: #fff;
}

.header__search-input {
  padding: 20px 56px;
  border: none;
  border-radius: 100px;
  color: #1a1b22;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: transparent;
}

.header__search-input::placeholder {
  color: #b6bcbf;
}

.header__search-btn {
  padding: 20px 56px;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: #2f71e5;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 40px;
  }

  .header__content {
    gap: 16px;
    max-width: 452px;
  }

  .header__title {
    font-size: 36px;
    line-height: 40px;
  }

  .header__input-container {
    margin-top: 32px;
  }

  .header__search-input {
    padding: 17px 24px;
  }

  .header__search-btn {
    padding: 16px 52px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding: 30px 16px;
  }

  .header__content {
    max-width: 288px;
  }

  .header__title {
    font-size: 36px;
    line-height: 40px;
  }

  .header__input-container {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    gap: 16px;
    margin-top: 106px;
    border-radius: unset;
    background-color: transparent;
  }

  .header__search-input {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background-color: #fff;
  }

  .header__search-btn {
    padding: 16px;
  }
}
